@import '../../style.scss';

.navbar {
    @include themify($themes) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        height: 50px;
        border-bottom: 1px solid themed("border");
        position: sticky;
        top: 0;
        background-color: themed('bg');
        color: themed("textColor");
        z-index: 999;

        @include mobile2 {
            justify-content: center;
        }

        .left {
            display: flex;
            align-items: center;
            gap: 30px;

            .navigate {
                display: flex;
                align-items: center;
                gap: 30px;


            }

            span {
                font-weight: bold;
                font-size: 20px;
                color: themed("logo");
            }

            .search {
                display: flex;
                align-items: center;
                gap: 10px;
                border: 1px solid themed("border");
                background-color: themed(bgSoft);
                border-radius: 5px;
                padding: 5px;

                input {
                    border: none;
                    width: 500px;
                    background-color: transparent;
                    color: themed("textColor");


                    @include tablet {
                        width: 250px;

                    }

                    @include mobile2 {
                        display: none;
                    }

                    @include mobile {
                        display: none;
                    }
                }

                input:focus {
                    outline: none;
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            gap: 20px;

            @include mobile {
                display: none;
            }

            @include tablet2 {
                display: none;
            }

            @include laptop3 {
                display: none;
            }



            .user {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 500;

                @include tablet {
                    display: none;
                }

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50px;
                    object-fit: cover;
                }

            }
        }
    }
}